/*
todo: get the grid to work lol
*/

.hero {
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}

.heading {
  font-family: var(--ifm-font-family-monospace);
  font-size: 2rem;
  font-weight: 500;
  margin: 0 2rem 2rem;
  text-align: center;
}

.together {
  display: inline-block;
}

.author {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: var(--ifm-h2-font-size);
  font-family: var(--ifm-heading-font-family);
}

.author::before {
  background: var(--ifm-color-secondary-darker);
  content: "";
  display: block;
  height: 2px;
  margin-bottom: 1.5rem;
  width: 8rem;
}

.cover {
  margin: 0 auto 4rem;
}

.cover img {
  aspect-ratio: 306 / 432;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  max-width: 50vw;
}

/* Todo: use var(--lt-media-query-width-medium)? */
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    margin: 1rem auto;
    padding: 0 2rem;
  }

  .heading {
    font-size: 3rem;
    margin: 0 0 1rem;
    text-align: left;
  }

  .cover {
    margin-left: 2rem;
  }

  .author {
    align-items: center;
    flex-direction: row;
  }

  .author::before {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .cover img {
    height: 25rem;
  }
}

/* Todo: use var(--lt-media-query-width-large)? */
@media (min-width: 992px) {
  .hero {
    margin: 5rem auto 0;
    padding: 0 2rem;
  }

  .heading {
    font-size: 4rem;
    margin: 0 1rem 1rem 0;
    text-align: left;
  }

  .left {
    justify-content: initial;
    padding-top: 0;
  }

  .cover {
    margin-left: 4rem;
  }

  .author {
    margin-top: 2rem;
  }
}

/* Todo: use var(--lt-layout-width-full)? */
@media (min-width: 1200px) {
  .hero {
    padding: 0;
  }
}
