.heroBanner {
  overflow: hidden;
  padding: 4rem 0;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.main {
  margin: 10rem auto;
  text-align: center;
}