.outlineLink {
  color: var(--ifm-font-color-base);
  display: block;
  font-family: var(--ifm-font-family-monospace);
  font-weight: 500;
  outline: 2px solid var(--ifm-font-color-base);
  padding: 0.5rem 1rem;
  text-align: center;
  transition: border-radius var(--ifm-transition-fast),
    box-shadow var(--ifm-transition-fast), transform var(--ifm-transition-fast);
}

.outlineLink:focus,
.outlineLink:hover {
  border-radius: 1px;
  box-shadow: 3px 3px 0px 1px var(--ifm-font-color-base);
  color: var(--ifm-font-color-base);
  text-decoration: none;
  transform: translate(-3px, -3px);
}
