:root {
  --ifm-background-deemphasized-color: #f4f1f8;
  --ifm-code-font-size: 95%;
  --ifm-color-secondary-darkest: #584e62;
  --ifm-heading-font-family: "Libre Baskerville";
  --ifm-heading-font-weight: bold;
  --ifm-font-family-base: "Libre Baskerville", Helvetica, Arial, system-ui;
  --ifm-font-family-monospace: "Red Hat Mono", Monaco, Consolas, monospace;

  --lt-layout-width-full: 1234px;
  --lt-media-query-width-medium: 768px;
  --lt-media-query-width-large: 992px;
}

[data-theme="dark"] {
  --ifm-background-deemphasized-color: #222024;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Header */

.navbar__items {
  gap: 1rem;
}

.navbar__link,
.navbar__title {
  font-weight: bold;
}

.navbar__title {
  margin-left: 0.75rem;
}
