.cards {
  margin: 0 2rem;
  text-align: left;
}

.heading {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 500;
}

.cardsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.seeAll {
  margin-top: 2rem;
}

/* Todo: use var(--lt-media-query-width-medium)? */
@media (min-width: 768px) {
  .textArea {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    max-width: 40rem;
    text-align: left;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .cardsList {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
